@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/variables";

.exercise {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;

    &__info {
        text-align: center;
        width: 20%;

        &--name {
            font-weight: bold;
        }

        &--type {
            font-style: italic;
        }

        &--description {
          text-align: center;  
          font-size: 1.5rem;
        }
    }

    &__hero {
        width: 50%;

        &--img {
            border-radius: 5%;
            width: 100%;
        }
    }
}
