@use "../partials/typography" as *;
@use "../partials/variables" as *;
@use "../partials/mixins" as *;

*{
    box-sizing: border-box;
    background-color: #f8f9fa;

}

ol, ul{
    list-style: none;
}
